<div [hidden]="gameIsRunning" class="container">
    <div class="col-sm-12">
      <h1>Radius From Zip Code</h1>
      <form>
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="text" name="zip-code-query" class="form-control" placeholder="Zip Code" [(ngModel)]="zipCodeQuery">
          </div>
          <div class="input-group mb-3">
            <input type="text" name="km-radius-query" class="form-control" placeholder="KM Radius" [(ngModel)]="kmRadiusQuery">
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="getCitiesButton()">Get Cities</button>
      </form>
      <div [hidden]="!queryResult">
        <div class="container" id="query-result-box">
          <div class="row">
            <div class="col">
              <div>
                <h3>{{queryResult?.zipCode}} - {{queryResult?.kmRadius}}Km</h3>
                <h4><i>{{queryResult?.cityMatch}}</i></h4>
                <h4>City Count: {{queryResult?.citiesCount}}</h4>
                <button type="button" class="btn btn-warning" (click)="loadGame()">Load Cities</button>
              </div>
            </div>
            <div class="col">
              <div id="cities-result-box">
                <table class="table table-striped">
                  <tbody>
                    <tr *ngFor="let city of queryResult?.cities">
                      <td>
                      {{city}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>  
            </div>
            <div class="w-100"></div>
          </div>
        </div>
      </div>
    </div>

</div>
<app-gameboard [hidden]="!gameIsRunning" [cities]="queryResult?.cities" [quizInfo]="quizInfo" (quizFinishEvent)="mergeGameLog($event)"></app-gameboard>
