<div id="name-entry" [hidden]="!nameEntryInProgress">
    <input type="text" name="player-name" class="form-control" placeholder="Player Name" [(ngModel)]="playerName">
    <button type="button" class="btn btn-success" (click)="nameEntryInProgress = false; startTimer();">Start</button>
</div>

<div  *ngIf="!(gameRecapInProgress || nameEntryInProgress)" class="container">
    <div class="col-sm-10">
        <div class="jumbotron">
            <div id="score-board">
                <h2>{{ playerScore }}</h2>
            </div>
            <h1 id="city-stage">{{ cities[citiesArrayCursor] }}</h1>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-danger" (click)="gameFault(cities[citiesArrayCursor])">Fault</button>
                <button class="btn btn-outline-success" (click)="correctAnswer(cities[citiesArrayCursor])">Correct</button>
            </div>
        </div>
        <!--
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary" (click)="endQuiz(cities[citiesArrayCursor]);returnGameLog(gameLog)">End Quiz</button>
        </div>
        -->
    </div>
    <div><p>{{ formatTimeLeft(timeLeft) }}</p></div>
</div>

<app-recap [hidden]="!gameRecapInProgress" [gameLog]="gameLog" [playerScore]="playerScore" [playerName]="playerName" style="all: revert"></app-recap>