<div  [hidden]="gameIsRunning" class="container">
    <div class="col-sm-12">
      <h1>Entire State</h1>
      <form>
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="state-code-query" placeholder="State Code" [(ngModel)]="stateCodeQuery">
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="getCitiesInStateButton()">Get Cities</button>
      </form>  
    <div [hidden]="!queryResult">
      <div class="container" id="query-result-box">
        <div class="row">
          <div class="col">
            <div>
              <h1>{{queryResult?.stateCode}}</h1>
              <h4>City Count: {{queryResult?.citiesCount}}</h4>
              <button type="button" class="btn btn-warning" (click)="gameIsRunning = true; queryResult.cities = shuffle(queryResult.cities)">Load Cities</button>
            </div>
          </div>
          <div class="col">
            <div id="cities-result-box">
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let city of queryResult?.cities">
                    <td>{{city}}</td>
                  </tr>
                </tbody>
              </table>
            </div>  
          </div>
          <div class="w-100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-gameboard [hidden]="!gameIsRunning" [cities]="queryResult?.cities"></app-gameboard>